#Splash{
    
    background-color: #7adbde;
    display:block;
}
section{
    /*display:none;*/

}



#Start{
    
}

#btnMatchGame {
    margin-top: -958px;
    margin-left: 129px;
	
}

#btnMemoryGame {
    margin-top: -758px;
    margin-left: 129px;
}

#btnCredits {
    margin-top: -558px;
    margin-left: 129px;
	
}

#MatchingGame {
 background-image:url(../img/parejas/menu/fondo_estrellas_gemelas.png);

}

.btnBack{
    float: left;
    position: relative;
    margin-left: 45px;
    margin-top: 45px;
   
	
}

.btnHome {
    float: right;
    position: relative;
    margin-right: 45px;
    margin-top: 45px;
    
}

#btnExplainMatch {
    margin-top: 435px;
    margin-left: 200px;
    margin-bottom: 100px;
    
}

.btnMatchMenu {
    margin-top: 5px;
    margin-left: 200px;
    
}

#btnLevelRayoMatch {
    

}

#btnLevelEvakyMatch {
  
	
}

#btnLevelAracneMatch {
   
}

#btnLevelSocratesMatch {
    margin-bottom: 140px;

}

#MatchLevel1{
    background-image: url(../img/fondo_color.png);
    height: 1920px;
}
#card1{
    margin-top: 242px;
    margin-left: -126px;
    
}

#card2 {
    margin-left: 539px;
    margin-top: -512px;
	
}
.frontCard {
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
/*codigo efectos juego */	
}
.card-box{
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    
}
.card-box:active {
    transform: scale(0.97);
    transition: transform .2s;
    
	
}
.card-box.flip {
  transform: rotateY(180deg);
}
.fluid-content {
    perspective: 1000px;
}

/* fin codigo efectos juego */	
#MatchLevel2 {
	background-image: url(../img/fondo_color.png);
    height: 1920px;
}
#MatchLevel3{
    background-image: url(../img/fondo_color.png);
    height: 1920px;

}
#MatchLevel4 {
    background-image: url(../img/fondo_color.png);
    height: 1920px;

	
}
#MatchLevel5 {
    background-image: url(../img/fondo_color.png);
    height: 1920px;

	
}
.frontCard2 {
    width: 33%;
}

#card1level2 {
    margin-top: 378px;
    margin-left: -133px;
}
#card3level2 {
    margin-left: 708px;
    margin-top: -351px;
}

#card8level2 {
    margin-left: 356px;
}

.frontCard3 {
    width: 33%;
}

#card1level3 {
	margin-top: 279px;
    margin-left: -134px;
}

#card3level3 {
	margin-left: 705px;
    margin-top: -352px;
}

#card10level3 {
    margin-left: 356px
}

.frontCard4 {
    width: 33%;
}

#card1level4 {
	margin-top: 279px;
    margin-left: -134px;
}

#card3level4 {
	margin-left: 705px;
    margin-top: -352px;
}

.frontCard5 {
    width: 33%;
}

#card1level5 {
	margin-top: 138px;
    margin-left: -134px;
}

#card3level5 {
	margin-left: 705px;
    margin-top: -352px;
}

#card14level5 {
    margin-left: 356px
}